@{
    @model StoreCustomerViewModel;
}

<div class="actions">
    @Html.ActionLink("Edit", "EditStore", new { Model.AccountNumber }, new { @class = "btn btn-primary" })
</div>
<div class="row">
    <div class="col-2">
        <label>Account number</label>
    </div>
    <div class="col">
        @Model.AccountNumber
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Name</label>
    </div>
    <div class="col">
        @Model.CustomerName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Sales territory</label>
    </div>
    <div class="col">
        @Model.Territory
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Sales person</label>
    </div>
    <div class="col">
        @Model.SalesPerson
    </div>
</div>

<partial name="Customer/_customerAddresses" for="@Model.Addresses" />

<h4>Contacts</h4>
@if (Model.Contacts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Contact type</th>
                <th>Contact name</th>
            </tr>
        </thead>
        @foreach (var contact in Model.Contacts)
            {
        <tr>
            <td>
                @Html.ActionLink("Edit", "EditContact", new
                    {
                        accountNumber = ViewData["accountNumber"],
                        contactName = contact.ContactPerson.FullName(),
                        contact.ContactType
                    })
                |
                @Html.ActionLink("Delete", "DeleteContact", new
                   {
                       accountNumber = ViewData["accountNumber"],
                       contactName = contact.ContactPerson.FullName(),
                       contact.ContactType
                   })
            </td>
            <td>@contact.ContactType</td>
            <td>@contact.ContactPerson.FullName()</td>
        </tr>
            }
    </table>
}
else
{
    <div class="row">
        No contacts found
    </div>
}
@Html.ActionLink("Add contact", "AddContact", new { AccountNumber = ViewData["accountNumber"], CustomerName = ViewData["customerName"] })