@{
    ViewData["Title"] = $"Add contact - {Model.CustomerName}";
    @model EditCustomerContactViewModel;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AccountNumber)

    @if (Model.IsNewContact)
    {
        <h2>Add contact</h2>
    }
    else
    {
        <h2>Edit contact</h2>
    }

    <div class="form-horizontal detail">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContact.ContactType, new { @class = "control-label" })
            @if (Model.IsNewContact)
            {
                @Html.DropDownListFor(m => m.CustomerContact.ContactType, Model.ContactTypes, null, new { @class = "form-control" })
            }
            else
            {
                @Html.DropDownListFor(m => m.CustomerContact.ContactType, Model.ContactTypes, null, new { @disabled = "disabled", @class = "form-control" })
                @Html.HiddenFor(m => m.CustomerContact.ContactType)
            }

            @Html.ValidationMessageFor(m => m.CustomerContact.ContactType, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContact.ContactPerson.Title, new { @class = "control-label" })
            <input asp-for="CustomerContact.ContactPerson.Title" class="form-control" />
            @Html.ValidationMessageFor(m => m.CustomerContact.ContactPerson.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContact.ContactPerson.Name.FirstName, new { @class = "control-label" })
            @if (Model.IsNewContact)
            {
                <input asp-for="CustomerContact.ContactPerson.Name.FirstName" class="form-control" />
            }
            else
            {
                <input asp-for="CustomerContact.ContactPerson.Name.FirstName" disabled class="form-control" />
                @Html.HiddenFor(m => m.CustomerContact.ContactPerson.Name.FirstName)
            }
            @Html.ValidationMessageFor(m => m.CustomerContact.ContactPerson.Name.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContact.ContactPerson.Name.MiddleName, new { @class = "control-label" })
            @if (Model.IsNewContact)
            {
                <input asp-for="CustomerContact.ContactPerson.Name.MiddleName" class="form-control" />
            }
            else
            {
                <input asp-for="CustomerContact.ContactPerson.Name.MiddleName" disabled class="form-control" />
                @Html.HiddenFor(m => m.CustomerContact.ContactPerson.Name.MiddleName)
            }
            @Html.ValidationMessageFor(m => m.CustomerContact.ContactPerson.Name.MiddleName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContact.ContactPerson.Name.LastName, new { @class = "control-label" })
            @if (Model.IsNewContact)
            {
                <input asp-for="CustomerContact.ContactPerson.Name.LastName" class="form-control" />
            }
            else
            {
                <input asp-for="CustomerContact.ContactPerson.Name.LastName" disabled class="form-control" />
                @Html.HiddenFor(m => m.CustomerContact.ContactPerson.Name.LastName)
            }
            @Html.ValidationMessageFor(m => m.CustomerContact.ContactPerson.Name.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContact.ContactPerson.Suffix, new { @class = "control-label" })
            <input asp-for="CustomerContact.ContactPerson.Suffix" class="form-control" />
            @Html.ValidationMessageFor(m => m.CustomerContact.ContactPerson.Suffix, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Detail", new { Model.AccountNumber }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}