@{
    ViewData["Title"] = "Sales order detail";
    @model SalesOrderDetailViewModel;

}

<div class="container-xl">
    <div class="detail">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">Sales order</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="orderlines-tab" data-bs-toggle="tab" data-bs-target="#nav-orderlines" type="button" role="tab" aria-controls="nav-orderlines" aria-selected="false">Order lines</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="salesreasons-tab" data-bs-toggle="tab" data-bs-target="#nav-salesreasons" type="button" role="tab" aria-controls="nav-salesreasons" aria-selected="false">Sales reasons</button>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="general-tab">
                <div>
                    <nav class="navbar navbar-light bg-light mb-3">
                        <div class="container-fluid">
                            <div class="d-flex">
                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete sales order @Model.SalesOrder.SalesOrderNumber</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this sales order?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Delete sales order</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa fa-trash"></i> Delete</button>
                            </div>
                        </div>
                    </nav>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.SalesOrderNumber)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.SalesOrderNumber, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.RevisionNumber)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.RevisionNumber, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.Status)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.Status, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.OrderDate)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.OrderDate, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.ShipDate)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.ShipDate, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.DueDate)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.DueDate, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.OnlineOrdered)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.OnlineOrdered, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.PurchaseOrderNumber)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.PurchaseOrderNumber, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.AccountNumber)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.AccountNumber, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="row">                                
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.ShipMethod)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.ShipMethod, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.SalesPerson)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.SalesPerson, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.Territory)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.Territory, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.CustomerName)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.CustomerName, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    @Html.LabelFor(m => m.SalesOrder.CustomerType)
                                </div>
                                <div class="col-6">
                                    @Html.EditorFor(m => m.SalesOrder.CustomerType, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row amounts">
                        <div class="col-4">
                            <div class="row mb-3">
                                <div class="col">
                                    @Html.LabelFor(m => m.SalesOrder.SubTotal)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.SubTotal, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    @Html.LabelFor(m => m.SalesOrder.TaxAmt)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.TaxAmt, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    @Html.LabelFor(m => m.SalesOrder.Freight)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.Freight, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <hr />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    @Html.LabelFor(m => m.SalesOrder.TotalDue)
                                </div>
                                <div class="col">
                                    @Html.EditorFor(m => m.SalesOrder.TotalDue, new { htmlAttributes = new { disabled = "disabled", @class = "form-control"}})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-header">
                                    Billing Address
                                </div>
                                <div class="card-body">
                                    @if (Model.SalesOrder.BillToAddress != null)
                                    {
                                        <partial name="SalesOrder/_address" for="@Model.SalesOrder.BillToAddress" />
                                    }
                                    else
                                    {
                                        <div class="row">
                                            No billing address
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-header">
                                    Shipping Address
                                </div>
                                <div class="card-body">
                                    @if (Model.SalesOrder.ShipToAddress != null)
                                    {
                                        <partial name="SalesOrder/_address" for="@Model.SalesOrder.ShipToAddress" />
                                    }
                                    else
                                    {
                                        <div class="row">
                                            No shipping address
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-orderlines" role="tabpanel" aria-labelledby="orderlines-tab">
                @if (Model.SalesOrder.OrderLines.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Carrier tracking number</th>
                                <th>Quantity</th>
                                <th>Product</th>
                                <th>Special offer</th>
                                <th>Unit price</th>
                                <th>Unit price discount</th>
                                <th>Line total</th>
                            </tr>
                        </thead>
                        @foreach (var orderLine in Model.SalesOrder.OrderLines)
                        {
                            <tr>
                                <td>@orderLine.CarrierTrackingNumber</td>
                                <td>@orderLine.OrderQty</td>
                                <td>@orderLine.ProductName</td>
                                <td>@orderLine.SpecialOfferDescription</td>
                                <td>@string.Format(new CultureInfo("en-US"), "{0:C}", orderLine.UnitPrice)</td>
                                <td>@string.Format(new CultureInfo("en-US"), "{0:C}", orderLine.UnitPriceDiscount)</td>
                                <td>@string.Format(new CultureInfo("en-US"), "{0:C}", orderLine.LineTotal)</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        No order lines found
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="nav-salesreasons" role="tabpanel" aria-labelledby="salesreasons-tab">
                @if (Model.SalesOrder.SalesReasons.Count() > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Reason type</th>
                            </tr>
                        </thead>
                        @foreach (var reason in Model.SalesOrder.SalesReasons)
                        {
                            <tr>
                                <td>@reason.Name</td> 
                                <td>@reason.ReasonType</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        No sales reasons found
                    </div>
                }
            </div>
        </div>
    </div>
</div>