@{
    ViewData["Title"] = "Customers";
    @model CustomersIndexViewModel;

    string? customerType = "";
    if (Context.Request.Query.ContainsKey("customerType"))
        customerType = Context.Request.Query["customerType"];
}

<div class="page-header">
    <div class="row align-items-center mb-3">
        <div class="col-md mb-2 mb-md-0">
            <h1 class="page-header-title">Customers <span class="badge bg-soft-dark text-dark ms-2">@Model.PaginationInfo!.TotalItems</span></h1>

            @*<div class="d-sm-flex mt-2">
                <a class="d-inline-block text-body mb-2 mb-sm-0 me-3" href="javascript:;" data-bs-toggle="modal" data-bs-target="#importCustomersModal">
                    <i class="bi-upload me-1"></i> Import customers
                </a>
                <a class="d-inline-block text-body mb-2 mb-sm-0 me-3" href="javascript:;" data-bs-toggle="modal" data-bs-target="#exportCustomersModal">
                    <i class="bi-download me-1"></i> Export
                </a>

                <!-- Dropdown -->
                <div class="dropdown">
                    <a class="d-inline-block text-body mb-2 mb-sm-0 me-3" href="javascript:;" id="moreOptionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        More options <i class="bi-chevron-down"></i>
                    </a>

                    <div class="dropdown-menu mt-1" aria-labelledby="moreOptionsDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="bi-clipboard dropdown-item-icon"></i> Manage duplicates
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="bi-pencil dropdown-item-icon"></i> Edit users
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="bi-arrow-clockwise dropdown-item-icon"></i> Restore clients
                        </a>
                    </div>
                </div>
                <!-- End Dropdown -->
            </div>*@
        </div>
        <!-- End Col -->

        <div class="col-md-auto">
            <a class="btn btn-primary" href="./ecommerce-add-customers.html">Add customers</a>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
    <!-- Nav Scroller -->
    <div class="js-nav-scroller hs-nav-scroller-horizontal">
        <span class="hs-nav-scroller-arrow-prev" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-left"></i>
            </a>
        </span>

        <span class="hs-nav-scroller-arrow-next" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                <i class="bi-chevron-right"></i>
            </a>
        </span>

        <!-- Nav -->
        <ul class="nav nav-tabs page-header-tabs">
            <li class="nav-item">
                @if (string.IsNullOrEmpty(customerType))
                {
                    @Html.ActionLink("All", "Index", "Customer", null, new { @class="nav-link active" })
                }
                else
                {
                    @Html.ActionLink("All", "Index", "Customer", null, new { @class="nav-link" })
                }
            </li>
            <li class="nav-item">
                @if (customerType == "store")
                {
                    @Html.ActionLink("Stores", "Index", "Customer", new { customerType = "store" }, new { @class="nav-link active" })
                }
                else
                {
                    @Html.ActionLink("Stores", "Index", "Customer", new { customerType = "store" }, new { @class="nav-link" })
                }
            </li>
            <li class="nav-item">
                @if (customerType == "individual")
                {
                    @Html.ActionLink("Individuals", "Index", "Customer", new { customerType = "individual" }, new { @class="nav-link active" })
                }
                else
                {
                    @Html.ActionLink("Individuals", "Index", "Customer", new { customerType = "individual" }, new { @class="nav-link" })
                }
            </li>
        </ul>
        <!-- End Nav -->
    </div>
    <!-- End Nav Scroller -->
</div>
<!-- End Page Header -->
<!-- Card -->
<div class="card">
    <!-- Header -->
    <div class="card-header card-header-content-sm-between">
        @*<div class="mb-2 mb-sm-0">
        <form>
        <!-- Search -->
        <div class="input-group input-group-merge input-group-flush">
        <div class="input-group-prepend input-group-text">
        <i class="bi-search"></i>
        </div>
        <input id="datatableSearch" type="search" class="form-control" placeholder="Search orders" aria-label="Search orders">
        </div>
        <!-- End Search -->
        </form>
        </div>*@

        <div class="d-grid d-sm-flex justify-content-sm-end align-items-sm-center gap-2">
            <!-- Datatable Info -->
            <div id="datatableCounterInfo" style="display: none;">
                <div class="d-flex align-items-center">
                    <span class="fs-5 me-3">
                        <span id="datatableCounter">0</span>
                        Selected
                    </span>
                    <a class="btn btn-outline-danger btn-sm" href="javascript:;">
                        <i class="bi-trash"></i> Delete
                    </a>
                </div>
            </div>
            <!-- End Datatable Info -->
            <!-- Dropdown -->
            <div class="dropdown">
                <button type="button" class="btn btn-white w-100" id="showHideDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi-table me-1"></i> Columns <span class="badge bg-soft-dark text-dark rounded-circle ms-1">4</span>
                </button>

                <div class="dropdown-menu dropdown-menu-end dropdown-card" aria-labelledby="showHideDropdown" style="width: 15rem;">
                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="d-grid gap-3">
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_name">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Name</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_name" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_accountnumber">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Account number</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_accountnumber" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_territory">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Territory</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_territory" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_customertype">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Customer type</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_customertype" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Dropdown -->
        </div>
    </div>
    <!-- End Header -->
    <!-- Table -->
    <div class="table-responsive datatable-custom">
        <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                   "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                   "order": [],
                   "info": {
                     "totalQty": "#datatableWithPaginationInfoTotalQty"
                   },
                   "search": "#datatableSearch",
                   "entries": "#datatableEntries",
                   "pageLength": 15,
                   "isResponsive": false,
                   "isShowPaging": false,
                   "pagination": "datatablePagination"
                 }'>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pe-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                            <label class="form-check-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-ps-0">Name</th>
                    <th>Accountnumber</th>
                    <th>Sales territory</th>
                    <th>Customer type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers!)
                {
                    <tr>
                        <td class="table-column-pe-0">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="customersDataCheck-@customer.AccountNumber">
                                <label class="form-check-label" for="customersDataCheck-@customer.AccountNumber"></label>
                            </div>
                        </td>
                        <td class="table-column-ps-0">
                            <a asp-action="Detail" asp-route-accountnumber="@customer.AccountNumber" class="d-flex align-items-center">
                                <!--<div class="flex-shrink-0">
                                    <div class="avatar avatar-soft-primary avatar-circle">
                                        <span class="avatar-initials">A</span>
                                    </div>
                                </div>-->
                                <div class="flex-grow-1 ms-3">
                                    <span class="h5 text-inherit">@customer.CustomerName</span>
                                </div>
                            </a>
                        </td>
                        <td>@customer.AccountNumber</td>
                        <td>@customer.Territory</td>
                        <td>@customer.CustomerType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- End Table -->
    <!-- Footer -->
    <div class="card-footer">
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            @*<div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="me-2">Showing:</span>

                    <!-- Select -->
                    <div class="tom-select-custom">
                        <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto" autocomplete="off"
                                data-hs-tom-select-options='{
                            "searchInDropdown": false,
                            "hideSearch": true
                          }'>
                            <option value="10">10</option>
                            <option value="15" selected>15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <!-- End Select -->

                    <span class="text-secondary me-2">of</span>

                    <!-- Pagination Quantity -->
                    <span id="datatableWithPaginationInfoTotalQty"></span>
                </div>
            </div>*@
            <!-- End Col -->

            <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <partial name="_pagination" for="@Model.PaginationInfo" />
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Footer -->
</div>
<!-- End Card -->

@section Scripts
    {
    <!-- Export Customers Modal -->
    <div class="modal fade" id="exportCustomersModal" tabindex="-1" aria-labelledby="exportCustomersModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="exportCustomersModalLabel">Export customers</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- End Header -->
                <!-- Body -->
                <div class="modal-body">
                    <div class="mb-4">
                        <label class="form-label">Export</label>

                        <div class="d-grid gap-2">
                            <!-- Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportCustomersRadio" id="exportCustomersRadio1" checked="">
                                <label class="form-check-label" for="exportCustomersRadio1">
                                    Current page
                                </label>
                            </div>
                            <!-- End Form Check -->
                            <!-- Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportCustomersRadio" id="exportCustomersRadio2">
                                <label class="form-check-label" for="exportCustomersRadio2">
                                    All Customers
                                </label>
                            </div>
                            <!-- End Form Check -->
                            <!-- Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportCustomersRadio" id="exportCustomersRadio3" disabled="">
                                <label class="form-check-label" for="exportCustomersRadio3">
                                    Selected: 24 Customers
                                </label>
                            </div>
                            <!-- End Form Check -->
                            <!-- Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportCustomersRadio" id="exportCustomersRadio4">
                                <label class="form-check-label" for="exportCustomersRadio4">
                                    Order by date
                                </label>
                            </div>
                            <!-- End Form Check -->
                        </div>
                    </div>

                    <label class="form-label">Export as</label>

                    <!-- Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exportCustomersAsRadio" id="exportCustomersAsRadio1" checked="">
                        <label class="form-check-label" for="exportCustomersAsRadio1">
                            CSV for Excel, Numbers, or other spreadsheet programs
                        </label>
                    </div>
                    <!-- End Form Check -->
                    <!-- Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exportCustomersAsRadio" id="exportCustomersAsRadio2">
                        <label class="form-check-label" for="exportCustomersAsRadio2">
                            Plain CSV file
                        </label>
                    </div>
                    <!-- End Form Check -->
                </div>
                <!-- End Body -->
                <!-- Footer -->
                <div class="modal-footer gap-3">
                    <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary">Export customers</button>
                </div>
                <!-- End Footer -->
            </div>
        </div>
    </div>
    <!-- End Export Customers Modal -->
    <!-- Import Customers Modal -->
    <div class="modal fade" id="importCustomersModal" tabindex="-1" aria-labelledby="importCustomersModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="importCustomersModalLabel">Import customers by CSV</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- End Header -->
                <!-- Body -->
                <div class="modal-body">
                    <p><a class="link" href="#">Download a sample CSV template</a> to see an example of the format required.</p>

                    <!-- Dropzone -->
                    <div id="attachFilesNewProjectLabel" class="js-dropzone dz-dropzone dz-dropzone-card mb-4 dz-clickable">
                        <div class="dz-message">
                            <img class="avatar avatar-xl avatar-4x3 mb-3" src="~/assets/svg/illustrations/oc-browse.svg" alt="Image Description" data-hs-theme-appearance="default">
                            <img class="avatar avatar-xl avatar-4x3 mb-3" src="~/assets/svg/illustrations-light/oc-browse.svg" alt="Image Description" data-hs-theme-appearance="dark">

                            <h5>Drag and drop your file here</h5>

                            <p class="mb-2">or</p>

                            <span class="btn btn-white btn-sm">Browse files</span>
                        </div>
                    </div>
                    <!-- End Dropzone -->
                    <!-- Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="overwriteCurrentCustomersCheckbox">
                        <label class="form-check-label" for="overwriteCurrentCustomersCheckbox">
                            Overwrite existing customers that have the same email or phone
                        </label>
                    </div>
                    <!-- End Form Check -->
                </div>
                <!-- End Body -->
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary">Import customers</button>
                </div>
                <!-- End Footer -->
            </div>
        </div>
    </div>
    <!-- End Import Customers Modal -->
    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init($('#datatable'), {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableCheckAll',
                        counter: '#datatableCounter',
                        counterInfo: '#datatableCounterInfo'
                    }
                },
                language: {
                    zeroRecords: `<div class="text-center p-4">
                                              <img class="mb-3" src="~/assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                                              <img class="mb-3" src="~/assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                                            <p class="mb-0">No data to show</p>
                                            </div>`
                }
            });

            const datatable = HSCore.components.HSDatatables.getItem('datatable')

            $('.js-datatable-filter').on('change', function () {
                var $this = $(this),
                    elVal = $this.val(),
                    targetColumnIndex = $this.data('target-column-index');

                datatable.column(targetColumnIndex).search(elVal).draw();
            });

            $('#datatableSearch').on('mouseup', function (e) {
                var $input = $(this),
                    oldValue = $input.val();

                if (oldValue == "") return;

                setTimeout(function () {
                    var newValue = $input.val();

                    if (newValue == "") {
                        // Gotcha
                        datatable.search('').draw();
                    }
                }, 1);
            });

            $('#toggleColumn_name').change(function (e) {
                datatable.columns(1).visible(e.target.checked)
            })

            $('#toggleColumn_accountnumber').change(function (e) {
                datatable.columns(2).visible(e.target.checked)
            })

            $('#toggleColumn_territory').change(function (e) {
                datatable.columns(3).visible(e.target.checked)
            })

            $('#toggleColumn_customertype').change(function (e) {
                datatable.columns(4).visible(e.target.checked)
            })
        });
    </script>
    <!-- JS Plugins Init. -->
    <script>
        (function () {
            window.onload = function () {


                // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                // =======================================================
                new HSSideNav('.js-navbar-vertical-aside').init()


                // INITIALIZATION OF FORM SEARCH
                // =======================================================
                new HSFormSearch('.js-form-search')


                // INITIALIZATION OF BOOTSTRAP DROPDOWN
                // =======================================================
                HSBsDropdown.init()


                // INITIALIZATION OF SELECT
                // =======================================================
                HSCore.components.HSTomSelect.init('.js-select')


                // INITIALIZATION OF NAV SCROLLER
                // =======================================================
                new HsNavScroller('.js-nav-scroller')


                // INITIALIZATION OF MODAL ON PAGE LOAD
                // =======================================================
                new bootstrap.Modal(document.getElementById('exportCustomersGuideModal')).show()


                // INITIALIZATION OF DROPZONE
                // =======================================================
                HSCore.components.HSDropzone.init('.js-dropzone')
            }
        })()
    </script>
}