@{
    @model IndividualCustomerViewModel;
}

<div class="actions">
    @Html.ActionLink("Edit", "EditIndividual", new { Model.AccountNumber }, new { @class = "btn btn-primary" })
</div>
<div class="row">
    <div class="col-2">
        <label>Account number</label>
    </div>
    <div class="col">
        @Model.AccountNumber
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Title</label>
    </div>
    <div class="col">
        @Model.Person.Title
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Sales territory</label>
    </div>
    <div class="col">
        @Model.Territory
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>First name</label>
    </div>
    <div class="col">
        @Model.Person.FirstName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Middle name</label>
    </div>
    <div class="col">
        @Model.Person.MiddleName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Last name</label>
    </div>
    <div class="col">
        @Model.Person.LastName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Suffix</label>
    </div>
    <div class="col">
        @Model.Person.Suffix
    </div>
</div>

<partial name="Customer/_customerAddresses" for="@Model.Addresses" />

<h4>Email Addresses</h4>
@if (Model.Person.EmailAddresses.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Email address</th>
            </tr>
        </thead>
        @foreach (var emailAddress in Model.Person.EmailAddresses)
        {
            <tr>
                <td>
                    @Html.ActionLink("Delete", "DeleteIndividualCustomerEmailAddress", new
                       {
                           accountNumber = ViewData["accountNumber"],
                           emailAddress.EmailAddress
                       })
                </td>
                <td>@emailAddress.EmailAddress</td>
            </tr>
        }
    </table>
}
else
{
    <div class="row">
        No email addresses found
    </div>
}
@Html.ActionLink("Add email address", "AddEmailAddress", new { AccountNumber = ViewData["accountNumber"], ContactName = Model.Person.FullName() })