@page
@model AW.UI.Web.Admin.Mvc.Pages.HumanResources.Department.CreateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add new department";
}

<!-- Page Header-->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item">
                        <a asp-page="./Index" class="breadcrumb-link">Departments</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Department details</li>
                </ol>
            </nav>
            <h1 class="page-header-title">Create new department</h1>
        </div>
    </div>
</div>
<!-- End Page Header-->
<!-- Card -->
<div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header card-header-content-between">
        <h4 class="card-header-title">Department</h4>
    </div>
    <!-- End Header-->
    <!-- Body -->
    <div class="card-body">
        <!-- Form -->
        <form method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-4">
                        @Html.LabelFor(m => m.Department!.Name, new { @class = "form-label" })
                        @Html.EditorFor(m => m.Department!.Name, new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="@Model.Department!.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-4">
                        @Html.LabelFor(m => m.Department!.GroupName, new { @class = "form-label" })
                        @Html.EditorFor(m => m.Department!.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                        <span asp-validation-for="@Model.Department!.GroupName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-sm-3">
                <button type="button" class="btn btn-white me-2 me-sm-0" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create Department</button>
            </div>
        </form>
    </div>
</div>
<!-- End Card -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
