@{    
    @model EditIndividualCustomerViewModel;
    ViewData["Title"] = $"Edit customer - {Model.Customer.CustomerName}";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Customer.AccountNumber)

<div class="form-horizontal detail">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.AccountNumber, new { @class = "control-label" })
        <div class="control-label">
            @Model.Customer.AccountNumber
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Person.Title, new { @class = "control-label" })
        <input asp-for="Customer.Person.Title" class="form-control" />
        @Html.ValidationMessageFor(m => m.Customer.Person.Title, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Person.FirstName, new { @class = "control-label" })
        <input asp-for="Customer.Person.FirstName" class="form-control" />
        @Html.ValidationMessageFor(m => m.Customer.Person.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Person.MiddleName, new { @class = "control-label" })
        <input asp-for="Customer.Person.MiddleName" class="form-control" />
        @Html.ValidationMessageFor(m => m.Customer.Person.MiddleName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Person.LastName, new { @class = "control-label" })
        <input asp-for="Customer.Person.LastName" class="form-control" />
        @Html.ValidationMessageFor(m => m.Customer.Person.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Person.Suffix, new { @class = "control-label" })
        <input asp-for="Customer.Person.Suffix" class="form-control" />
        @Html.ValidationMessageFor(m => m.Customer.Person.Suffix, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Territory, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.Customer.Territory, Model.Territories, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Territory, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Detail", new { Model.Customer.AccountNumber }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
}