@{
    @model IndividualCustomerViewModel;

    var addressTypes = ViewData["addressTypes"] as IEnumerable<SelectListItem>;
    var countries = ViewData["countries"] as IEnumerable<SelectListItem>;
    var territories = ViewData["territories"] as IEnumerable<SelectListItem>;
    var salesPersons = ViewData["salesPersons"] as IEnumerable<SelectListItem>;
    var statesProvinces = ViewData["statesProvinces"] as IEnumerable<SelectListItem>;
}

<!-- Page Header-->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item">@Html.ActionLink("Customers", "Index", null, new { @class="breadcrumb-link" })</li>
                    <li class="breadcrumb-item active" aria-current="page">Customer details</li>
                </ol>
            </nav>

            <h1 class="page-header-title">@Model.CustomerName</h1>
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
<!-- End Page Header-->

<div class="row">
    <div class="col-lg-8">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Body -->
            @using (Html.BeginForm("UpdateIndividual", "Customer"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.AccountNumber)
                <div class="card-body">
                    <!-- Media -->
                    <div class="d-flex align-items-center mb-5">
                        <div class="flex-grow-1 mx-3">
                            <div class="d-flex mb-1">
                                <h3 class="mb-0 me-3">@Model.Person!.Name!.FullName</h3>
                                @Html.HiddenFor(m => m.Person!.Name!.FullName)

                                <!-- Dropdown -->
                                <div class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top">
                                    <button type="button" class="btn btn-white btn-icon btn-xs rounded-circle" id="editDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi-pencil-fill"></i>
                                    </button>

                                    <div class="dropdown-menu dropdown-card mt-1" aria-labelledby="editDropdown" style="min-width: 20rem;">
                                        <!-- Card -->
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        @Html.LabelFor(m => m.Person!.Name!.FirstName, new { @class = "form-label" })
                                                        <input asp-for="Person!.Name!.FirstName" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        @Html.LabelFor(m => m.Person!.Name!.MiddleName, new { @class = "form-label" })
                                                        <input asp-for="Person!.Name!.MiddleName" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col">
                                                        @Html.LabelFor(m => m.Person!.Name!.LastName, new { @class = "form-label" })
                                                        <input asp-for="Person!.Name!.LastName" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="d-flex justify-content-end gap-2 mt-3">
                                                    <button type="button" class="btn btn-white btn-sm">Cancel</button>
                                                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Body -->
                                    </div>
                                </div>
                                <!-- End Dropdown -->
                            </div>
                        </div>

                        <div class="d-none d-sm-inline-block ms-auto text-end">
                            <!-- Dropdown -->
                            <div class="dropdown">
                                <button type="button" class="btn btn-white btn-sm" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions <i class="bi-chevron-down"></i>
                                </button>

                                <div class="dropdown-menu mt-1" aria-labelledby="actionsDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="bi-envelope dropdown-item-icon"></i> Email
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#">
                                        <i class="bi-trash dropdown-item-icon text-danger"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                            <!-- End Dropdown -->
                        </div>
                    </div>
                    <!-- End Media -->

                    <div class="row mb-4">
                        @Html.LabelFor(m => m.AccountNumber, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            <input asp-for="AccountNumber" class="form-control" disabled />
                            @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Person!.Title, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            <input asp-for="Person!.Title" class="form-control" />
                            @Html.ValidationMessageFor(m => m.Person!.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-sm-4">
                            <div class="mb-4">
                                @Html.LabelFor(m => m.Person.Name.FirstName, new { @class = "form-label" })
                                <input asp-for="Person.Name.FirstName" class="form-control" />
                                @Html.ValidationMessageFor(m => m.Person.Name.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-4">
                                @Html.LabelFor(m => m.Person.Name.MiddleName, new { @class = "form-label" })
                                <input asp-for="Person.Name.MiddleName" class="form-control" />
                                @Html.ValidationMessageFor(m => m.Person.Name.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-4">
                                @Html.LabelFor(m => m.Person.Name.LastName, new { @class = "form-label" })
                                <input asp-for="Person.Name.LastName" class="form-control" />
                                @Html.ValidationMessageFor(m => m.Person.Name.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Person!.Suffix, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            <input asp-for="Person!.Suffix" class="form-control" />
                            @Html.ValidationMessageFor(m => m.Person!.Suffix, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Territory, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            <!-- Select -->
                            <div class="tom-select-custom">
                                @Html.DropDownListFor(m => m.Territory, territories, null, new { @class = "js-select form-select", data_hs_tom_select_options = "{ 'searchInDropdown': false, 'hideSearch': true }" })
                            </div>
                            <!-- End Select-->
                        @Html.ValidationMessageFor(m => m.Territory, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Add Email Input Field -->
                    <div id="addEmailFieldTemplate" style="display: none;">
                        <div class="input-group-add-field">
                            <input type="email" class="js-input-mask form-control" data-name="email" placeholder="Enter email" aria-label="Enter email">
                        </div>

                        <a class="js-delete-field input-group-add-field-delete" href="javascript:;">
                            <i class="bi-x-lg"></i>
                        </a>
                    </div>
                    <!-- End Email Input Field -->
                    <div class="js-add-field row mb-4"
                     data-hs-add-field-options='{
                                "template": "#addEmailFieldTemplate",
                                "container": "#addEmailFieldContainer",
                                "defaultCreated": 0
                              }'>
                        <label class="col-sm-3 col-form-label form-label">
                            Email
                        </label>
                        <div class="col-sm-9">
                            @for (int i = 0; i < Model.Person.EmailAddresses.Count; i++)
                            {
                                <div class="row mb-4">
                                    <div class="col">
                                        <input asp-for="Person!.EmailAddresses[i].EmailAddress" class="form-control" />
                                        @Html.ValidationMessageFor(m => m.Person!.EmailAddresses[i].EmailAddress, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col">
                                        <a class="btn btn-white" asp-action="DeleteIndividualCustomerEmailAddress" asp-route-accountnumber="@Model.AccountNumber" asp-route-emailaddress="@Model.Person.EmailAddresses[i].EmailAddress">
                                            <i class="bi-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                @if (i == Model.Person.EmailAddresses.Count - 1)
                                {
                                    <div id="addEmailFieldContainer"></div>
                                    <a href="javascript:;" class="js-create-field form-link">
                                        <i class="bi-plus-circle me-1"></i> Add email address
                                    </a>
                                }
                            }
                            @if (Model.Person.EmailAddresses.Count == 0)
                            {
                                <input type="email" class="js-input-mask form-control" name="email_0" data-name="email" placeholder="Enter email" aria-label="Enter email">
                                <div id="addEmailFieldContainer0"></div>
                                <a href="javascript:;" class="js-create-field form-link">
                                    <i class="bi-plus-circle me-1"></i> Add email address
                                </a>
                            }
                        </div>
                    </div>
                    <div class="js-add-field row mb-4"
                     data-hs-add-field-options='{
                                "template": "#addPhoneFieldTemplate",
                                "container": "#addPhoneFieldContainer",
                                "defaultCreated": 0
                              }'>
                        <label class="col-sm-3 col-form-label form-label">
                            Phone
                        </label>
                        <div class="col-sm-9">
                            @for (int i = 0; i < Model.Person.PhoneNumbers.Count; i++)
                            {
                                <div class="row mb-4">
                                    <div class="col">
                                        <input asp-for="Person!.PhoneNumbers[i].PhoneNumber" class="form-control" />
                                        @Html.ValidationMessageFor(m => m.Person!.PhoneNumbers[i].PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col">
                                        <div class="tom-select-custom">
                                            @Html.DropDownListFor(m => m.Person!.PhoneNumbers[i].PhoneNumberType, Model.PhoneNumberTypes, null, new { @class = "js-select form-select", data_hs_tom_select_options = "{ 'searchInDropdown': false, 'hideSearch': true }" })
                                        </div>
                                    </div>
                                </div>
                                @if (i == Model.Person.PhoneNumbers.Count - 1)
                                {
                                    <div id="addPhoneFieldContainer"></div>
                                    <a href="javascript:;" class="js-create-field form-link">
                                        <i class="bi-plus-circle me-1"></i> Add phone number
                                    </a>
                                }
                            }
                            @if (Model.Person.PhoneNumbers.Count == 0)
                            {
                                <div class="input-group input-group-sm-vertical align-items-center">
                                    <input class="js-input-mask form-control" name="phone_0" data-name="phone" placeholder="Enter phone number" aria-label="Enter phone number">

                                    <div class="input-group-append">
                                        <!-- Select -->
                                        <div class="tom-select-custom tom-select-custom-end">
                                            <select class="js-select-dynamic form-select" autocomplete="off" name="phoneSelect" data-name="phoneSelect"
                                            data-hs-tom-select-options='{
                                                "searchInDropdown": false,
                                                "hideSearch": true,
                                                "dropdownWidth": "8rem"
                                              }'>
                                                @foreach (var phoneNumberType in Model.PhoneNumberTypes!)
                                                {
                                                    if (phoneNumberType.Value == "Home")
                                                    {
                                                        <option value="@phoneNumberType.Value" selected>@phoneNumberType.Text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@phoneNumberType.Value">@phoneNumberType.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <!-- End Select -->
                                    </div>
                                </div>
                                <div id="addPhoneFieldContainer"></div>
                                    <a href="javascript:;" class="js-create-field form-link">
                                        <i class="bi-plus-circle me-1"></i> Add phone number
                                    </a>
                            }
                        </div>
                        <!-- Add Phone Input Field -->
                        <div id="addPhoneFieldTemplate" class="input-group-add-field" style="display: none;">
                            <div class="input-group input-group-sm-vertical align-items-center">
                                <input class="js-input-mask form-control" data-name="phone" placeholder="Enter phone number" aria-label="Enter phone number">

                                <div class="input-group-append">
                                    <!-- Select -->
                                    <div class="tom-select-custom tom-select-custom-end">
                                        <select class="js-select-dynamic form-select" autocomplete="off" name="phoneSelect" data-name="phoneSelect"
                                            data-hs-tom-select-options='{
                                                "searchInDropdown": false,
                                                "hideSearch": true,
                                                "dropdownWidth": "8rem"
                                              }'>
                                            @foreach (var phoneNumberType in Model.PhoneNumberTypes!)
                                            {
                                                if (phoneNumberType.Value == "Home")
                                                {
                                                    <option value="@phoneNumberType.Value" selected>@phoneNumberType.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@phoneNumberType.Value">@phoneNumberType.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <!-- End Select -->
                                </div>
                            </div>

                            <a class="js-delete-field input-group-add-field-delete" href="javascript:;">
                                <i class="bi-x-lg"></i>
                            </a>
                        </div>
                        <!-- End Phone Input Field -->
                    </div>
                </div>
                <!-- End Body -->
                <!-- Footer -->
                <div class="card-footer">
                    <div class="d-flex justify-content-end gap-3">
                        @*@if (!Model.IsNewContact)
                        {
                            <a asp-action="Detail" asp-route-accountNumber="@Model.AccountNumber" class="btn btn-white">Discard</a>
                        }*@
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- End Footer -->
            }
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header card-header-content-sm-between">
                <div class="d-grid gap-2 mb-2 mb-sm-0">
                    <h4 class="card-header-title">Sales orders</h4>

                    <!-- Datatable Info -->
                    <div id="datatableSalesOrdersCounterInfo" style="display: none;">
                        <div class="d-flex align-items-center">
                            <span class="fs-5 me-3">
                                <span id="datatableSalesOrdersCounter">0</span>
                                Selected
                            </span>
                            <a class="btn btn-outline-danger btn-sm" href="javascript:;">
                                <i class="bi-trash"></i> Delete
                            </a>
                        </div>
                    </div>
                    <!-- End Datatable Info -->
                </div>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="card-body">

                <!-- Table -->
                <div class="table-responsive datatable-custom">
                    <table id="datatableSalesOrders" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table" data-hs-datatables-options='{
                    "columnDefs": [{
                        "targets": [0, 5],
                        "orderable": false
                    }],
                    "order": [],
                    "info": {
                        "totalQty": "#datatableWithPaginationInfoTotalQty"
                    },
                    "search": "#datatableSearch",
                    "entries": "#datatableEntries",
                    "pageLength": 12,
                    "isResponsive": false,
                    "isShowPaging": false,
                    "pagination": "datatablePagination"
                    }'>
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="table-column-pe-0">
                                    <div class="form-check">
                                        <input id="datatableSalesOrdersCheckAll" type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="datatableSalesOrdersCheckAll"></label>
                                    </div>
                                </th>
                                <th class="table-column-ps-0">Sales order number</th>
                                <th>Order date</th>
                                <th>Ship date</th>
                                <th>Due date</th>
                                <th>Status</th>
                                <th>Online ordered</th>
                                <th>Total due</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var salesOrder in Model.SalesOrders)
                            {
                                <tr>
                                    <td class="table-column-pe-0">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="ordersCheck-@salesOrder.SalesOrderNumber">
                                            <label class="form-check-label" for="ordersCheck-@salesOrder.SalesOrderNumber"></label>
                                        </div>
                                    </td>
                                    <td class="table-column-ps-0">
                                        @Html.ActionLink(salesOrder.SalesOrderNumber, "Detail", "SalesOrder", new { salesOrder.SalesOrderNumber })
                                    </td>
                                    <td>@salesOrder.OrderDate.ToShortDateString()</td>
                                    <td>@salesOrder.ShipDate?.ToShortDateString()</td>
                                    <td>@salesOrder.DueDate.ToShortDateString()</td>
                                    <td>@salesOrder.Status</td>
                                    <td>@Html.CheckBoxFor(m => @salesOrder.OnlineOrderFlag, new { disabled = "disabled"})</td>
                                    <td>@salesOrder.TotalDue.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- End Table -->
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Body -->
            <div class="card-body">
                <!-- List Group -->
                <ul class="list-group list-group-flush list-group-no-gutters">
                    @foreach (var address in Model.Addresses)
                    {
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="me-auto">
                                    <h5>@address.AddressType address</h5>
                                </div>
                                <div>
                                    <a class="btn btn-white btn-icon btn-xs rounded-circle" data-bs-toggle="modal" data-bs-target="#editAddressModal-@address.AddressType?.Replace(" ", "-")" href="#">
                                        <i class="bi-pencil-fill"></i>
                                    </a>
                                    <a class="btn btn-white btn-icon btn-xs rounded-circle" data-bs-toggle="modal" data-bs-target="#deleteAddressModal-@address.AddressType?.Replace(" ", "-")" href="#">
                                        <i class="bi-trash"></i>
                                    </a>
                                </div>
                            </div>
                            <partial name="Modals/editAddress" for="@address" />
                            <partial name="Modals/deleteAddress" for="@address" />

                            <span class="d-block text-body">
                                @address.Address.AddressLine1<br>
                                @if (!string.IsNullOrEmpty(address.Address.AddressLine2))
                                {
                                    @address.Address.AddressLine2

                                    <br>
                                }
                                @(address.Address.PostalCode), @(address.Address.City), @(address.Address.StateProvinceCode)<br>
                                @(countries?.SingleOrDefault(_ => _.Value == address.Address.CountryRegionCode)?.Text) <img class="avatar avatar-xss avatar-circle ms-1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" onload="this.onload=null; this.src=getFlag('@address.Address.CountryRegionCode')">
                            </span>
                        </li>
                    }
                    <li class="list-group-item">
                        <a data-bs-toggle="modal" data-bs-target="#addAddressModal" href="#">Add new address</a>
                        @{
                            var newAddress = new CustomerAddressViewModel();
                            newAddress.Address.CountryRegionCode = "US";
                        }
                        <partial name="Modals/addAddress" for="@newAddress" />
                    </li>
                </ul>
                <!-- End List Group -->
            </div>
            <!-- End Body -->
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init($('#datatableSalesOrders'), {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableSalesOrdersCheckAll',
                        counter: '#datatableSalesOrdersCounter',
                        counterInfo: '#datatableSalesOrdersCounterInfo'
                    }
                },
                language: {
                    zeroRecords: `<div class="text-center p-4">
                                                                              <img class="mb-3" src="../assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                                                                              <img class="mb-3" src="../assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                                                                            <p class="mb-0">No data to show</p>
                                                                            </div>`
                }
            });
        });

        $('.js-select-country-new').change(function (e) {
            var dropdown = $('.js-select-stateprovince-new');

            if (this.value == "--Select--") {
                dropdown.empty();
                dropdown.prop('disabled', true);
            }
            else {
                dropdown.prop('disabled', false);
                getStatesProvinces(this.value, dropdown, "@Url.Action("GetStatesProvinces", new { country = "js-country" })"
                    .replace("js-country", this.value)
                );
            }
        });

        (function () {
            // INITIALIZATION OF ADD FIELD
            // =======================================================
            new HSAddField('.js-add-field')
        })();
    </script>
}