@{
    ViewData["Title"] = "Sales order detail";
    @model SalesOrderDetailViewModel;
}

<div class="container-fluid">
    <div class="detail">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                <a class="nav-link" id="nav-order-lines-tab" data-toggle="tab" href="#nav-order-lines" role="tab" aria-controls="nav-order-lines" aria-selected="false">Order lines</a>
                <a class="nav-link" id="nav-sales-reasons-tab" data-toggle="tab" href="#nav-sales-reasons" role="tab" aria-controls="nav-sales-reasons" aria-selected="false">Sales reasons</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Sales order number</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.SalesOrderNumber
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Revision</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.RevisionNumber
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Status</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.Status
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Order date</label>
                            </div>
                            <div class="col">
                                @string.Format("{0:d}", Model.SalesOrder.OrderDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Ship date</label>
                            </div>
                            <div class="col">
                                @string.Format("{0:d}", Model.SalesOrder.ShipDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Due date</label>
                            </div>
                            <div class="col">
                                @string.Format("{0:d}", Model.SalesOrder.DueDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Ordered online</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.OnlineOrdered
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Purchase order number</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.PurchaseOrderNumber
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Account number</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.AccountNumber
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Customer</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.CustomerName
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Sales person</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.SalesPerson
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Sales territory</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.Territory
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <label>Shipping method</label>
                            </div>
                            <div class="col">
                                @Model.SalesOrder.ShipMethod
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row amounts">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <label>Subtotal</label>
                            </div>
                            <div class="col">
                                @string.Format(new CultureInfo("en-US"), "{0:C}", Model.SalesOrder.SubTotal)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label>Tax amount</label>
                            </div>
                            <div class="col">
                                @string.Format(new CultureInfo("en-US"), "{0:C}", Model.SalesOrder.TaxAmt)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label>Freight</label>
                            </div>
                            <div class="col">
                                @string.Format(new CultureInfo("en-US"), "{0:C}", Model.SalesOrder.Freight)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label>Total due</label>
                            </div>
                            <div class="col">
                                @string.Format(new CultureInfo("en-US"), "{0:C}", Model.SalesOrder.TotalDue)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Billing Address
                            </div>
                            <div class="card-body">
                                @if (Model.SalesOrder.BillToAddress != null)
                                {
                                    <partial name="SalesOrder/_address" for="@Model.SalesOrder.BillToAddress" />
                                }
                                else
                                {
                                    <div class="row">
                                        No billing address
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Shipping Address
                            </div>
                            <div class="card-body">
                                @if (Model.SalesOrder.ShipToAddress != null)
                                {
                                    <partial name="SalesOrder/_address" for="@Model.SalesOrder.ShipToAddress" />
                                }
                                else
                                {
                                    <div class="row">
                                        No shipping address
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-order-lines" role="tabpanel" aria-labelledby="nav-order-lines-tab">
                @if (Model.SalesOrder.OrderLines.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Carrier tracking number</th>
                                <th>Quantity</th>
                                <th>Product</th>
                                <th>Special offer</th>
                                <th>Unit price</th>
                                <th>Unit price discount</th>
                                <th>Line total</th>
                            </tr>
                        </thead>
                        @foreach (var orderLine in Model.SalesOrder.OrderLines)
                        {
                            <tr>
                                <td>@orderLine.CarrierTrackingNumber</td>
                                <td>@orderLine.OrderQty</td>
                                <td>@orderLine.ProductName</td>
                                <td>@orderLine.SpecialOfferDescription</td>
                                <td>@string.Format(new CultureInfo("en-US"), "{0:C}", orderLine.UnitPrice)</td>
                                <td>@string.Format(new CultureInfo("en-US"), "{0:C}", orderLine.UnitPriceDiscount)</td>
                                <td>@string.Format(new CultureInfo("en-US"), "{0:C}", orderLine.LineTotal)</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        No order lines found
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="nav-sales-reasons" role="tabpanel" aria-labelledby="nav-sales-reasons-tab">
                @if (Model.SalesOrder.SalesReasons.Count() > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Reason type</th>
                            </tr>
                        </thead>
                        @foreach (var reason in Model.SalesOrder.SalesReasons)
                        {
                            <tr>
                                <td>@reason.Name</td>
                                <td>@reason.ReasonType</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="row">
                        No sales reasons found
                    </div>
                }
            </div>
        </div>
    </div>
</div>