@using AW.UI.Web.Admin.Mvc.ViewModels.Employee;
@{
    ViewData["Title"] = "Employees";
    @model List<EmployeeViewModel>;

}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center mb-3">
        <div class="col-md mb-2 mb-md-0">
            <h1 class="page-header-title">Employees <span class="badge bg-soft-dark text-dark ms-2">@Model.Count</span></h1>
        </div>

        <div class="col-md-auto">
            @Html.ActionLink("Add employee", "AddEmployee", "Employee", null, new { @class = "btn btn-primary"})
        </div>
        <!-- End Col -->
    </div>
</div>
<!-- End Page Header-->

<div class="card">
    <!-- Header -->
    <div class="card-header card-header-content-sm-between">
        <div class="mb-2 mb-md-0">
            <form>
                <!-- Search -->
                <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend input-group-text">
                        <i class="bi-search"></i>
                    </div>
                    <input id="datatableSearch" type="search" class="form-control" placeholder="Search employees" aria-label="Search employees">
                </div>
                <!-- End Search -->
            </form>
        </div>
        <div class="d-grid d-sm-flex justify-content-sm-end align-items-sm-center gap-2">
            <!-- Datatable Info -->
            <div id="datatableCounterInfo" style="display: none;">
                <div class="d-flex align-items-center">
                    <span class="fs-5 me-3">
                        <span id="datatableCounter">0</span>
                        Selected
                    </span>
                    <a class="btn btn-outline-danger btn-sm" href="#">
                        <i class="bi-trash"></i> Delete
                    </a>
                </div>
            </div>
            <!-- End Datatable Info -->
        </div>
    </div>
    <!-- End Header-->

    <div class="table-responsive datatable-custom">
        <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                 "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                 "order": [],
                 "search": "#datatableSearch",
                 "isResponsive": false,
                 "isShowPaging": false,
                 "pagination": "datatableWithPaginationPagination"
               }'>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pe-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                            <label class="form-check-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-ps-0">Login ID</th>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Birth date</th>
                    <th>Hire date</th>
                    <th>Salaried</th>
                    <th>Current</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td class="table-column-pe-0">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="employeesDataCheck-@employee.LoginID">
                                <label class="form-check-label" for="employeesDataCheck-@employee.LoginID"></label>
                            </div>
                        </td>
                        <td class="table-column-ps-0">
                            <a asp-action="Detail" asp-route-loginID="@employee.LoginID">
                                <div class="flex-grow-1 ms-3">
                                    <span class="h5 text-inherit">@employee.LoginID</span>
                                </div>
                            </a>
                        </td>
                        <td>@employee.Name!.FullName</td>
                        <td>@employee.JobTitle</td>
                        <td>@string.Format("{0:d}", employee.BirthDate)</td>
                        <td>@string.Format("{0:d}", employee.HireDate)</td>
                        <td>
                            @Html.CheckBoxFor(m => employee.Salaried, new { @class = "form-check-input", disabled = "disabled" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => employee.Current, new { @class = "form-check-input", disabled = "disabled" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Footer -->
    <div class="card-footer">
        <!-- Pagination -->
        <div class="d-flex justify-content-center justify-content-sm-end">
            <nav id="datatableWithPaginationPagination" aria-label="Pagination"></nav>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>

@section Scripts
{
    <!-- JS Plugins Init. -->
    <script>
        (function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init('.js-datatable')
        })()
    </script>
}