<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Adventureworks Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link href="~/css/stylesheet.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800&display=swap" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/pager.css" />
    <link rel="stylesheet" href="~/css/basket/basket-status/basket-status.component.css" />
    <link rel="stylesheet" href="~/css/basket/basket.component.css" />
</head>
<body>
    <!-- top section-->
    <nav id="top">
        <div class="container-fluid">
            <div class="row">
                <a href="" class="phone_contact">Welcome to our online store!</a>
            </div>
        </div>
    </nav>
    <!-- end -->
    <!-- header section-->
    <header class="main-menu">
        <div class="header_wrapper_home">
            <div class="container-fluid">
                <!-- destop vergian -->
                <div class="row header_sec destop_header">
                    <div class="col-sm-4 rtl_logo">
                        <div id="logo">
                            <a href="/"><img src="image/logo1.png" title="AdventureWorks Store" alt="AdventureWorks Store" class="img-fluid" /></a>
                        </div>
                    </div>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <!-- header section end-->
    <!--menu-->
    <nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    @foreach (var category in Model.ProductCategories)
                    {
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarCategory" role="button" data-toggle="dropdown">@category.Name</a>

                            <div class="dropdown-menu megamenu" aria-labelledby="navbarCategory">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        @foreach (var subcategory in category.Subcategories)
                                        {
                                            string linkText = $"{subcategory.Name} ({subcategory.ProductCount})";
                                            <li>
                                                @Html.ActionLink(linkText, "Index", "Product", new { productCategory = category.Name, productSubcategory = subcategory.Name }, new { @class = "dropdown-item" })
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--menu end-->

    <div class="container-fluid">
        @*<main role="main">*@
            @RenderBody()
        @*</main>*@
    </div>

    <footer id="footer">
        <div class="container-fluid">
            <div class="row footer_links">
                <div class="col-sm-3">
                    <div class="footer-inner-matter">
                        <h3 class="wow fadeInUp">Contact Us</h3>
                        <ul>
                            <li><img src="image/icon-phone.png"><p>Hotline Free 24/24:</p><span><i class="fa fa-volume-control-phone"></i>(+800) 123 456 789</span></li>
                            <li><i class="fa fa-map-marker"></i> 622 Vernon Drive Flushing, NY 11354</li>
                            <li class="email"><i class="fa fa-envelope"></i> company123@gmail.com</li>
                        </ul>
                        <div class="social_media_wrapper">
                            <ul>
                                <li class="facebook"><a href=""><i class="fab fa-facebook-square"></i></a></li>
                                <li class="skype"><a href=""><i class="fab fa-skype"></i></a></li>
                                <li class="youtube"><a href=""><i class="fab fa-youtube-square"></i></a></li>
                                <li class="google"><a href=""><i class="fab fa-google-plus-square"></i></a></li>
                                @*<li class="linkedin"><a href=""><i class="fab fa-linkedin-square"></i></a></li>*@
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-sm-3 col_footer footer_padding">
                    <div class="footer-inner-matter">
                        <h3 class="wow fadeInUp">Information</h3>
                        <ul class="list-unstyled">
                            <li><a href="about.html" class="wow fadeInUp"> About Us</a></li>
                            <li><a href="#" class="wow fadeInUp"> Delivery Information</a></li>
                            <li><a href="#" class="wow fadeInUp"> Privacy Policy</a></li>
                            <li><a href="#" class="wow fadeInUp"> Terms &amp; Conditions</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- extra -->
                <div class="col-sm-3 col_footer footer_padding">
                    <div class="footer-inner-matter">
                        <h3 class="wow fadeInUp">Extras</h3>
                        <ul class="list-unstyled">
                            <li><a href="contact.html" class="wow fadeInUp"> Contact Us</a></li>
                            <li><a href="brands.html" class="wow fadeInUp"> Brands</a></li>
                            <li><a href="index.html" class="wow fadeInUp"> Specials</a></li>
                            <li><a href="return.html" class="wow fadeInUp"> Returns</a></li>
                            <li><a href="#" class="wow fadeInUp"> Gift Certificates</a></li>
                            <li><a href="#" class="wow fadeInUp"> Affiliate</a></li>
                            <li><a href="sitemap.html" class="wow fadeInUp"> Site Map</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- / extra end-->
                <!-- play_store -->
                <div class="col-sm-3 col_footer footer_padding Get_the_App">
                    <div class="footer-inner-matter">
                        <h3 class="wow fadeInUp">
                            <!--{{ text_extra }}--->
                            Get The App
                        </h3>
                        <h4>
                            GreenLife App Is Now Available On Google
                            Play &amp; App Store. Get It Now.
                        </h4>
                        <div class="images_dat_dec">
                            <div class="img_1">
                                <a href="#"><img src="image/icon1-app.jpg"></a>
                            </div>
                            <div class="img_2">
                                <a href="#"><img src="image/icon-app.jpg"></a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- / play_store end -->
            </div>

            <!-- newsletters -->
            <div class="row">
                <div class="col-sm-12 col_footer new_bottom_newsletter">
                    <div class="head_newsletter text-center">
                        <div class="head_newsletter_one">
                            <div class="footer-inner-matter news_letter_subscription wow fadeInUp">
                                <div id="newsletterModule-footer" class="">
                                    <div id="newsletterFooterModule0">
                                        <div class="news_latter" id="news_latter">
                                            <div class="">
                                                <div class="row" id="subsribe">
                                                    <div class="successmsg">
                                                    </div>

                                                    <div class="col-sm-4 text-left news_latte_text">
                                                        <h3>Join Our<span> Newsletter Now</span></h3>
                                                    </div>
                                                    <div class="col-sm-3 newletter_desc text-left">
                                                        <p>Join 10.000+ subscribers and get a new discount coupon.</p>
                                                    </div>
                                                    <!-- <p>Subscribe to our newsletter to receive special offers and latest news. </p> -->
                                                    <div class="col-sm-5">
                                                        <div class="form-group required text-right">
                                                            <div class="news_latter_form">
                                                                <div class="input-news">
                                                                    <input type="text" id="input-newsletter-email" class="fem form-control" placeholder="Enter Your Email Address here" value="" name="email" />
                                                                </div>
                                                                <div class="subscribe-btn input-group-btn">
                                                                    <a id="button-subsribe" class="btn btn-primary btn-xs">Subscribe</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="clear"> </div>*@
                <!--- copy-right-area -->
                <div class="col-sm-6 rtl_text social_footer copy_right_wrapper">
                    <div class="copy-right">
                        <p class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">© Copyright 2021 by AdventureWorks</p>
                    </div>
                </div>
                <!-------/ end copyright----------->
                <!--- payment_links -->
                <div class="col-sm-6 rtl_text social_footer">
                    <div class="payment_method_footer">
                        <div class="payment_option_methods">
                            <ul>
                                <li><a href=""><img src="image/payment-1.png"></a></li>
                                <li><a href=""><img src="image/payment-2.png"></a></li>
                                <li><a href=""><img src="image/payment-3.png"></a></li>
                                <li><a href=""><img src="image/payment-4.png"></a></li>
                                <li><a href=""><img src="image/payment-5.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                @*<div class="clear"> </div>*@
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>