@using AW.UI.Web.Admin.Mvc.ViewModels.Product;
@{
    ViewData["Title"] = $"Product detail - {Model.Product!.Name}";
    @model ProductDetailViewModel;

}

<!-- Page Header-->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                    <li class="breadcrumb-item">@Html.ActionLink("Products", "Index", null, new { @class="breadcrumb-link" })</li>
                    <li class="breadcrumb-item active" aria-current="page">Product details</li>
                </ol>
            </nav>
            <h1 class="page-header-title">@Model.Product.Name</h1>
            <div class="mt-2">
                <a class="text-body me-3" href="javascript:;">
                    <i class="bi-clipboard me-1"></i> Duplicate
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header-->
<div class="row">
    <div class="col-lg-8">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Product information</h4>
                <a class="link" data-bs-toggle="modal" data-bs-target="#editProduct" href="#">Edit</a>
            </div>
            <!-- End Header-->
            <!-- Body -->
            <div class="card-body">
                <!-- Form -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.Name, new { @class = "col-sm-3 col-form-label form-label" })
                            <input type="text" class="form-control" value="@Model.Product.Name" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.ProductNumber, new { @class = "col-sm-3 col-form-label form-label" })
                            <input type="text" class="form-control" value="@Model.Product.ProductNumber" readonly>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <div class="row form-check form-switch">
                            @Html.LabelFor(m => m.Product!.MakeFlag, new { @class = "col-sm-4 col-form-label form-label" })
                            <div class="col-sm-8">
                                @Html.CheckBoxFor(m => m.Product!.MakeFlag, new { @class = "form-check-input", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-check form-switch">
                            @Html.LabelFor(m => m.Product!.FinishedGoodsFlag, new { @class = "col-sm-4 col-form-label form-label" })
                            <div class="col-sm-8">
                                @Html.CheckBoxFor(m => m.Product!.FinishedGoodsFlag, new { @class = "form-check-input", disabled = "disabled"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.ProductModelName, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.ProductModelName" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.Color, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.Color" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.DaysToManufacture, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.DaysToManufacture" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.SafetyStockLevel, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.SafetyStockLevel" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.ReorderPoint, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.ReorderPoint" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.Size, new { @class = "form-label" })
                            <div class="input-group">
                                <input type="text" class="form-control" value="@Model.Product.Size" readonly>
                                <div class="input-group-append">
                                    <input type="text" class="form-control" value="@Model.Product.SizeUnitMeasureCode" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.Weight, new { @class = "form-label" })
                            <div class="input-group">
                                <input type="text" class="form-control" value="@Model.Product.Weight" readonly>
                                <div class="input-group-append">
                                    <input type="text" class="form-control" value="@Model.Product.WeightUnitMeasureCode" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.ProductLine, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.ProductLine" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.Class, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.Class" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.Style, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.Style" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.SellStartDate, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.SellStartDate.ToShortDateString()" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.SellEndDate, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.SellEndDate?.ToShortDateString()" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-4">
                            @Html.LabelFor(m => m.Product!.DiscontinuedDate, new { @class = "form-label" })
                            <input type="text" class="form-control" value="@Model.Product.DiscontinuedDate?.ToShortDateString()" readonly>
                        </div>
                    </div>
                </div>
                <!-- Form -->
            </div>
            <!-- End Body -->
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Media</h4>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="card-body">
                <!-- Gallery -->
                <div id="fancyboxGallery" class="js-fancybox row justify-content-sm-center gx-3">
                    @foreach (var photo in Model.Product.ProductProductPhotos!)
                    {
                        var thumbNailUrl = $"data:image/gif;base64,{Convert.ToBase64String(photo.ProductPhoto!.ThumbNailPhoto!)}";
                        var largePhotoUrl = $"data:image/gif;base64,{Convert.ToBase64String(photo.ProductPhoto!.LargePhoto!)}";

                        <div class="col-6 col-sm-4 col-md-3 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card card-sm">
                                <img class="card-img-top" src="@thumbNailUrl" alt="@photo.ProductPhoto.ThumbnailPhotoFileName">

                                <div class="card-body">
                                    <div class="row col-divider text-center">
                                        <div class="col">
                                            <a class="text-body" href="@thumbNailUrl" data-bs-toggle="tooltip" data-bs-placement="top" data-fslightbox="gallery" aria-label="View" data-bs-original-title="View">
                                                <i class="bi-eye"></i>
                                            </a>
                                        </div>
                                        <!-- End Col -->

                                        <div class="col">
                                            <a class="text-danger" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi-trash"></i>
                                            </a>
                                        </div>
                                        <!-- End Col -->
                                    </div>                                    
                                    <!-- End Row -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Col -->

                        <div class="col-6 col-sm-4 col-md-3 mb-3 mb-lg-5">
                            <!-- Card -->
                            <div class="card card-sm">
                                <img class="card-img-top" src="@largePhotoUrl" alt="@photo.ProductPhoto.LargePhotoFileName">

                                <div class="card-body">
                                    <div class="row col-divider text-center">
                                        <div class="col">
                                            <a class="text-body" href="@largePhotoUrl" data-bs-toggle="tooltip" data-bs-placement="top" data-fslightbox="gallery" aria-label="View" data-bs-original-title="View">
                                                <i class="bi-eye"></i>
                                            </a>
                                        </div>
                                        <!-- End Col -->

                                        <div class="col">
                                            <a class="text-danger" href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                                <i class="bi-trash"></i>
                                            </a>
                                        </div>
                                        <!-- End Col -->
                                    </div>                                    
                                    <!-- End Row -->
                                </div>
                                <!-- End Col -->
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Col -->
                    }
                </div>
                <!-- End Gallery -->
            </div>
            <!-- End Body -->
        </div>
        <!-- End Card -->
    </div>
    <div class="col-lg-4">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <h4 class="card-header-title">Pricing</h4>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="card-body">
                <!-- Form -->
                <div class="mb-4">
                    @Html.LabelFor(m => m.Product!.StandardCost, new { @class = "form-label" })
                    <input type="text" class="form-control" value="@string.Format(new CultureInfo("en-US"), "{0:C}", @Model.Product.StandardCost)" readonly>
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.Product!.ListPrice, new { @class = "form-label" })
                    <input type="text" class="form-control" value="@string.Format(new CultureInfo("en-US"), "{0:C}", @Model.Product.ListPrice)" readonly>
                </div>
            </div>
            <!-- End Body -->
        </div>
        <!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <h4 class="card-header-title">Organization</h4>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="card-body">
                <div class="mb-4">
                    @Html.LabelFor(m => m.Product!.ProductCategoryName, new { @class = "form-label" })
                    <input type="text" class="form-control" value="@Model.Product.ProductCategoryName" readonly>
                </div>
                <div class="mb-4">
                    @Html.LabelFor(m => m.Product!.ProductSubcategoryName, new { @class = "form-label" })
                    <input type="text" class="form-control" value="@Model.Product.ProductSubcategoryName" readonly>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
</div>

<partial name="Modals/EditProduct" for="@Model.Product" />

@section Scripts {
    <script src="~/assets/vendor/fslightbox/index.js"></script>
    <script src="~/assets/vendor/hs-quantity-counter/hs-quantity-counter.min.js"></script>
}