@{
    ViewData["Title"] = $"Delete address - {Model.CustomerName}";
    @model DeleteCustomerAddressViewModel;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AccountNumber)    

    <div class="form-horizontal detail">
        <h4>Are you sure you want to delete this?</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.AddressType, new { @class = "control-label" })
            <input asp-for="AddressType" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.AddressType)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.AddressLine1, new { @class = "control-label" })
            <input asp-for="Address.AddressLine1" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.Address.AddressLine1)
        </div>
        @if (!string.IsNullOrEmpty(Model.Address.AddressLine2))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Address.AddressLine2, new { @class = "control-label" })
                <input asp-for="Address.AddressLine2" readonly class="form-control-plaintext" />
                @Html.HiddenFor(m => m.Address.AddressLine2)
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.Address.PostalCode, new { @class = "control-label" })
            <input asp-for="Address.PostalCode" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.Address.PostalCode)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.City, new { @class = "control-label" })
            <input asp-for="Address.City" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.Address.City)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.StateProvinceCode, new { @class = "control-label" })
            <input asp-for="Address.StateProvinceCode" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.Address.StateProvinceCode)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address.CountryRegionCode, new { @class = "control-label" })
            <input asp-for="Address.CountryRegionCode" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.Address.CountryRegionCode)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Detail", new { Model.AccountNumber }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}