@{
    ViewData["Title"] = $"Delete contact information - {Model.CustomerName}";
    @model DeleteCustomerContactInfoViewModel;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AccountNumber)
    <h2>Delete contact information</h2>
    <div class="form-horizontal detail">
        <h4>Are you sure you want to delete this?</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContactInfo.Channel, new { @class = "control-label" })
            <input asp-for="CustomerContactInfo.Channel" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.CustomerContactInfo.Channel)
        </div>
        @if (!string.IsNullOrEmpty(Model.CustomerContactInfo.Type))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerContactInfo.Type, new { @class = "control-label" })
                <input asp-for="CustomerContactInfo.Type" readonly class="form-control-plaintext" />
                @Html.HiddenFor(m => m.CustomerContactInfo.Type)
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(m => m.CustomerContactInfo.Value, new { @class = "control-label" })
            <input asp-for="CustomerContactInfo.Value" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.CustomerContactInfo.Value)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Detail", new { Model.AccountNumber }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}