@{
    ViewData["Title"] = "Customers";
    @model CustomersIndexViewModel;
}

<section class="filters">
    <div class="container">
        <form method="get">
            <label class="filter-label" data-title="territory">
                <select class="filter" asp-for="@Model.TerritoryFilterApplied" asp-items="@Model.Territories"></select>
            </label>
            <label class="filter-label" data-title="customer type">
                <select class="filter" asp-for="@Model.CustomerTypeFilterApplied" asp-items="@Model.CustomerTypes"></select>
            </label>
            <input class="fa fa-search" type="submit" />
        </form>
    </div>
</section>
<div class="container">
    @if (Model.Customers.Any())
    {
        <partial name="_pagination" for="@Model.PaginationInfo" />
        <div class="row">
            <table class="listView">
                <thead>
                    <tr>
                        <th>Accountnumber</th>
                        <th>Name</th>
                        <th>Sales territory</th>
                        <th>Customer type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in Model.Customers)
                    {
                    <tr>
                        <td>@customer.AccountNumber</td>
                        <td>@customer.Name</td>
                        <td>@customer.SalesTerritoryName</td>
                        <td>@customer.CustomerType</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>