@using AW.UI.Web.Admin.Mvc.ViewModels.Department;
@{
    ViewData["Title"] = "Departments";
    @model List<DepartmentViewModel>;
}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center mb-3">
        <div class="col-md mb-2 mb-md-0">
            <h1 class="page-header-title">Departments <span class="badge bg-soft-dark text-dark ms-2">@Model.Count</span></h1>
        </div>

        <div class="col-md-auto">
            @Html.ActionLink("Create department", "CreateDepartment", "Department", null, new { @class = "btn btn-primary"})
        </div>
        <!-- End Col -->
    </div>
</div>
<!-- End Page Header-->

<div class="card">
    <!-- Header -->
    <div class="card-header card-header-content-sm-between">
        <div class="d-grid d-sm-flex justify-content-sm-end align-items-sm-center gap-2">
            <!-- Datatable Info -->
            <div id="datatableCounterInfo" style="display: none;">
                <div class="d-flex align-items-center">
                    <span class="fs-5 me-3">
                        <span id="datatableCounter">0</span>
                        Selected
                    </span>
                    <a class="btn btn-outline-danger btn-sm" href="javascript:deleteSelected()">
                        <i class="bi-trash"></i> Delete
                    </a>
                </div>
            </div>
            <!-- End Datatable Info -->
        </div>
    </div>
    <!-- End Header-->

    <div class="table-responsive datatable-custom">
        <table id="datatable" class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                 "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                 "order": [],
                 "search": "#datatableSearch",
                 "isResponsive": false,
                 "isShowPaging": false,
                 "pagination": "datatableWithPaginationPagination"
               }'>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pe-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                            <label class="form-check-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-ps-0">Name</th>
                    <th>Group Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var department in Model)
                {
                    <tr>
                        <td class="table-column-pe-0">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="employeesDataCheck-@department.Name">
                                <label class="form-check-label" for="employeesDataCheck-@department.Name"></label>
                            </div>
                        </td>
                        <td class="table-column-ps-0">
                            <a asp-action="Detail" asp-route-name="@department.Name">
                                <div class="flex-grow-1 ms-3">
                                    <span class="h5 text-inherit">@department.Name</span>
                                </div>
                            </a>
                        </td>
                        <td>@department.GroupName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Footer -->
    <div class="card-footer">
        <!-- Pagination -->
        <div class="d-flex justify-content-center justify-content-sm-end">
            <nav id="datatableWithPaginationPagination" aria-label="Pagination"></nav>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>

@section Scripts
    {
    <!-- JS Plugins Init. -->
    <script>
        function deleteSelected() {
            var checked = $('#datatable td:first-child input[type="checkbox"]:checked');
            if (checked.length > 0) {
                if (confirm("Do you want to delete " + checked.length + " department(s)?")) {
                    var departments = [];
                    checked.each(function () {
                        var department = $(this).closest("tr").find("td").eq(1).find("a").find("div").find("span").html();
                        departments.push(department);
                    });

                    $.ajax({
                        type: "POST",
                        url: "DeleteDepartments",
                        data: JSON.stringify(departments),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    });

                    checked.each(function () {
                        var row = $(this).closest("tr");
                        row.remove();
                    });
                }
            }
        }

        (function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init('.js-datatable', {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableCheckAll',
                        counter: '#datatableCounter',
                        counterInfo: '#datatableCounterInfo'
                    }
                },
                language: {
                    zeroRecords: `<div class="text-center p-4">
                                                              <img class="mb-3" src="~/assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                                                              <img class="mb-3" src="~/assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                                                            <p class="mb-0">No data to show</p>
                                                            </div>`
                }
            });
        })()
    </script>
}