@using AW.UI.Web.Admin.Mvc.ViewModels.Customer;
@{
    @model CustomerAddressViewModel;

    var customerId = ViewData["customerId"];
    var addressTypes = ViewData["addressTypes"] as IEnumerable<SelectListItem>;
    var countries = ViewData["countries"] as IEnumerable<SelectListItem>;
    var statesProvinces = ViewData["statesProvinces"] as IEnumerable<SelectListItem>;
}

<!-- Modal -->
<div class="modal address-modal fade" id="edit-address-@Model.ObjectId" data-objectid="@Model.ObjectId" tabindex="-1" role="dialog" aria-labelledby="edit-address-label-@Model.ObjectId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-address-label-@Model.ObjectId">Edit Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="UpdateAddress">
                    @Html.HiddenFor(_ => customerId)
                    @Html.HiddenFor(_ => _.ObjectId)
                    @Html.HiddenFor(_ => _.Address.ObjectId)
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.AddressType, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9 tom-select-custom">
                            @Html.DropDownListFor(m => m.AddressType, addressTypes, null, new { @class = "js-select form-select", data_hs_tom_select_options = "{ 'searchInDropdown': false, 'hideSearch': true }" })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Address.AddressLine1, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            @Html.EditorFor(m => m.Address.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Address.AddressLine2, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            @Html.EditorFor(m => m.Address.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Address.PostalCode, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            @Html.EditorFor(m => m.Address.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Address.City, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9">
                            @Html.EditorFor(m => m.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Address.CountryRegionCode, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9 tom-select-custom">
                            @Html.DropDownListFor(m => m.Address.CountryRegionCode, countries, null, new { @class = "js-select form-select", data_hs_tom_select_options = "{ 'searchInDropdown': false, 'hideSearch': true }" })
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(m => m.Address.StateProvinceCode, new { @class = "col-sm-3 col-form-label form-label" })
                        <div class="col-sm-9 tom-select-custom">
                            @Html.DropDownListFor(m => m.Address.StateProvinceCode, statesProvinces, null, new { @class = "js-select form-select" })
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-sm-3">
                        <button type="button" class="btn btn-white me-2 me-sm-0" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section Scripts {
    <script>
        $(document).on('ready', function () {
            $('.js-select-country').change(function (e) {
                    alert('test');
                    var objectId = this.getAttribute('data-objectid');
                    alert(objectId);
                    alert(this.value);
                    var dropdown = $('.js-select-stateprovince-' + objectId);

                    if (this.value == "--Select--") {
                        dropdown.empty();
                        dropdown.prop('disabled', true);
                    }
                    else {
                        dropdown.prop('disabled', false);
                        getStatesProvinces(this.value, dropdown, "@Url.Action("GetStatesProvinces", new { country = "js-country" })"
                        .replace("js-country", this.value)
                    );
                }
            });
        });
    </script>
}