@page
@model AW.UI.Web.Admin.Mvc.Pages.Customer.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Customers";
}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center mb-3">
        <div class="col-md mb-2 mb-md-0">
            <h1 class="page-header-title">Customers <span class="badge bg-soft-dark text-dark ms-2">@Model.Customers!.Count</span></h1>
        </div>

        <div class="col-md-auto">
            <a asp-page="./Create" class="btn btn-primary">Create customer</a>
        </div>
        <!-- End Col -->
    </div>
</div>
<!-- End Page Header-->

<div class="card">
    <!-- Header -->
    <div class="card-header card-header-content-sm-between">
        <div class="mb-2 mb-md-0">
            <form>
                <!-- Search -->
                <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend input-group-text">
                        <i class="bi-search"></i>
                    </div>
                    <input id="datatableSearch" type="search" class="form-control" placeholder="Search customers" aria-label="Search customers">
                </div>
                <!-- End Search -->
            </form>
        </div>
        <div class="d-grid d-sm-flex justify-content-sm-end align-items-sm-center gap-2">
            <!-- Datatable Info -->
            <div id="datatableCounterInfo" style="display: none;">
                <div class="d-flex align-items-center">
                    <span class="fs-5 me-3">
                        <span id="datatableCounter">0</span>
                        Selected
                    </span>
                    <a class="btn btn-outline-danger btn-sm" href="#">
                        <i class="bi-trash"></i> Delete
                    </a>
                </div>
            </div>
            <!-- End Datatable Info -->
        </div>
    </div>
    <!-- End Header-->

    <div class="table-responsive datatable-custom">
        <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                 "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                 "order": [],
                 "search": "#datatableSearch",
                 "isResponsive": false,
                 "isShowPaging": false,
                 "pagination": "datatableWithPaginationPagination"
               }'>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pe-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                            <label class="form-check-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-ps-0">Name</th>
                    <th>Accountnumber</th>
                    <th>Sales territory</th>
                    <th>Customer type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers!)
                {
                    <tr>
                        <td class="table-column-pe-0">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dataCheck-@customer.ObjectId">
                                <label class="form-check-label" for="dataCheck-@customer.ObjectId"></label>
                            </div>
                        </td>
                        <td class="table-column-ps-0">
                            @if (customer.CustomerType == CustomerType.Store)
                            {
                                <a asp-page="./DetailStore" asp-route-objectID="@customer.ObjectId">
                                    <div class="flex-grow-1 ms-3">
                                        <span class="h5 text-inherit">@customer.CustomerName</span>
                                    </div>
                                </a>
                            }
                            else if (customer.CustomerType == CustomerType.Individual)
                            {
                                <a asp-page="./DetailIndividual" asp-route-objectID="@customer.ObjectId">
                                    <div class="flex-grow-1 ms-3">
                                        <span class="h5 text-inherit">@customer.CustomerName</span>
                                    </div>
                                </a>
                            }
                        </td>
                        <td>@customer.AccountNumber</td>
                        <td>@customer.Territory</td>
                        <td>@customer.CustomerType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Footer -->
    <div class="card-footer">
        <!-- Pagination -->
        <div class="d-flex justify-content-center justify-content-sm-end">
            <nav id="datatableWithPaginationPagination" aria-label="Pagination"></nav>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End Footer -->
</div>

@section Scripts
    {
    <!-- JS Plugins Init. -->
    <script>
        (function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init('.js-datatable')
        })()
    </script>
}