@{
    @model IEnumerable<Internal.ViewModels.Customer.SalesOrderViewModel>
}

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Sales order number</th>
                <th>Order date</th>
                <th>Ship date</th>
                <th>Due date</th>
                <th>Status</th>
                <th>Online ordered</th>
                <th>Purchase order number</th>
                <th>Account number</th>
                <th>Total due</th>
            </tr>
        </thead>
        @foreach (var salesOrder in Model)
        {
    <tr>
        <td>@Html.ActionLink(salesOrder.SalesOrderNumber, "Detail", "SalesOrder", new { salesOrder.SalesOrderNumber })</td>
        <td>@string.Format("{0:d}", salesOrder.OrderDate)</td>
        <td>@string.Format("{0:d}", salesOrder.ShipDate)</td>
        <td>@string.Format("{0:d}", salesOrder.DueDate)</td>
        <td>@salesOrder.Status</td>
        <td>@Html.CheckBox("onlineOrder", salesOrder.OnlineOrderFlag, new { @onclick = "return false" })</td>
        <td>@salesOrder.PurchaseOrderNumber</td>
        <td>@salesOrder.AccountNumber</td>
        <td>@string.Format(new CultureInfo("en-US"), "{0:C}", salesOrder.TotalDue)</td>
    </tr>
        }
    </table>
}
else
{
    <div class="row">
        No sales orders found
    </div>
}