@{
    ViewData["Title"] = "Sales orders";
    @model SalesOrderIndexViewModel;
}

<section class="filters">
    <div class="container">
        <form method="get">
            <label class="filter-label" data-title="territory">
                <select class="filter" asp-for="@Model.TerritoryFilterApplied" asp-items="@Model.Territories"></select>
            </label>
            <label class="filter-label" data-title="customer type">
                <select class="filter" asp-for="@Model.CustomerTypeFilterApplied" asp-items="@Model.CustomerTypes"></select>
            </label>
            <button class="btn btn-default fa fa-search filter-button" type="submit"></button>
        </form>
    </div>
</section>
<div class="container">
    <h2>Sales orders</h2>
    @if (Model.SalesOrders.Any())
    {
        <partial name="_pagination" for="@Model.PaginationInfo" />
        <div class="row">
            <table class="table table-striped listView">
                <thead>
                    <tr>
                        <th>Sales order number</th>
                        <th>Account number</th>
                        <th>Customer name</th>
                        <th>Customer type</th>
                        <th>Sales territory</th>
                        <th>Status</th>
                        <th>Ordered online</th>
                        <th>Order date</th>
                        <th>Total due</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var salesOrder in Model.SalesOrders)
                    {
                        <tr>
                            <td>@Html.ActionLink(salesOrder.SalesOrderNumber, "Detail", new { salesOrder.SalesOrderNumber })</td>
                            <td>@salesOrder.AccountNumber</td>
                            <td>@salesOrder.CustomerName</td>
                            <td>@salesOrder.CustomerType</td>
                            <td>@salesOrder.Territory</td>
                            <td>@salesOrder.Status</td>
                            <td>@salesOrder.OnlineOrdered</td>
                            <td>@string.Format("{0:d}", salesOrder.OrderDate)</td>
                            <td>@string.Format(new CultureInfo("en-US"), "{0:C}", salesOrder.TotalDue)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_pagination" for="@Model.PaginationInfo" />
    }
    else
    {
        <div class="row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>