@{
    @model CustomerViewModel;
}

<div class="actions">
    @Html.ActionLink("Edit", "EditStore", new { Model.AccountNumber }, new { @class = "btn btn-primary" })
</div>
<div class="row">
    <div class="col-2">
        <label>Account number</label>
    </div>
    <div class="col">
        @Model.AccountNumber
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Name</label>
    </div>
    <div class="col">
        @Model.Name
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Sales territory</label>
    </div>
    <div class="col">
        @Model.SalesTerritoryName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Sales person</label>
    </div>
    <div class="col">
        @Model.Store.SalesPerson.FullName
    </div>
</div>

<partial name="Customer/_customerAddresses" for="@Model.Store.Addresses" />

<h4>Contacts</h4>
@if (Model.Store.Contacts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Contact type</th>
                <th>Contact name</th>
                <th>Email address</th>
            </tr>
        </thead>
        @foreach (var contact in Model.Store.Contacts)
        {
    <tr>
        <td>
            @Html.ActionLink("Edit", "EditContact")
            |
            @Html.ActionLink("Delete", "DeleteContact")
        </td>
        <td>@contact.ContactTypeName</td>
        <td>@contact.ContactName</td>
        <td>@contact.EmailAddress</td>
    </tr>
        }
    </table>
}