@{
    @model CustomerViewModel;
}

<div class="actions">
    @Html.ActionLink("Edit", "EditIndividual", new { Model.AccountNumber }, new { @class = "btn btn-primary" })
</div>
<div class="row">
    <div class="col-2">
        <label>Account number</label>
    </div>
    <div class="col">
        @Model.AccountNumber
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Title</label>
    </div>
    <div class="col">
        @Model.Person.Title
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Sales territory</label>
    </div>
    <div class="col">
        @Model.SalesTerritoryName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>First name</label>
    </div>
    <div class="col">
        @Model.Person.FirstName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Middle name</label>
    </div>
    <div class="col">
        @Model.Person.MiddleName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Last name</label>
    </div>
    <div class="col">
        @Model.Person.LastName
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>Suffix</label>
    </div>
    <div class="col">
        @Model.Person.Suffix
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label>E-mail promotion</label>
    </div>
    <div class="col">
        @{
            var emailPromotion = EnumHelper<EmailPromotionViewModel>.GetDisplayValue(Model.Person.EmailPromotion);
        }
        @emailPromotion
    </div>
</div>

<partial name="Customer/_customerAddresses" for="@Model.Person.Addresses" />

<h4>Contact Information</h4>
@if (Model.Person.ContactInfo.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Channel</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
        </thead>
        @foreach (var contactInfo in Model.Person.ContactInfo)
        {
    <tr>
        <td>
            @Html.ActionLink("Delete", "DeleteContactInformation", new
               {
                   accountNumber = ViewData["accountNumber"],
                   channel = contactInfo.Channel,
                   contactInfo.Value
               })
        </td>
        <td>
            @{
                var channel = EnumHelper<ContactInfoChannelTypeViewModel>.GetDisplayValue(contactInfo.Channel);
            }
            @channel
        </td>
        <td>@(!string.IsNullOrEmpty(contactInfo.ContactInfoType) ? contactInfo.ContactInfoType : "-")</td>
        <td>@contactInfo.Value</td>
    </tr>
        }
    </table>
}
else
{
    <div class="row">
        No contact information found
    </div>
}
@Html.ActionLink("Add contact information", "AddContactInformation", new { AccountNumber = ViewData["accountNumber"], CustomerName = ViewData["customerName"] })