@model ProductViewModel

<div class="card col-4">
    <img class="card-img-top" src="@Model.ThumbnailPhoto" alt="@Model.Name" />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p>@Model.ListPrice</p>
        <div class="btn-group">
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-productNumber="@Model.ProductNumber" type="submit" class="addtocart @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" data-toggle="tooltip" data-placement="left" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
            <!--<button asp-controller="Cart" asp-action="AddToCart" asp-route-productNumber="@Model.ProductNumber" type="submit" class="addtocart @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" data-toggle="tooltip" data-placement="left" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>-->
        </div>
    </div>
</div>