@{
    ViewData["Title"] = $"Delete email address - {Model.CustomerName}";
    @model DeleteIndividualCustomerEmailAddressViewModel;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AccountNumber)
    <h2>Delete email address</h2>
    <div class="form-horizontal detail">
        <h4>Are you sure you want to delete this?</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
            <input asp-for="EmailAddress" readonly class="form-control-plaintext" />
            @Html.HiddenFor(m => m.EmailAddress)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Detail", new { Model.AccountNumber }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}