@model AW.UI.Web.Admin.Mvc.ViewModels.SalesOrder.SalesOrderViewModel
@{    
}

<!-- Modal -->
<div class="modal fade" id="editOrderLines" tabindex="-1" role="dialog" aria-labelledby="editOrderlinesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOrderlinesModalLabel">Edit Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateOrderlines"))
                {
                    <input type="hidden" name="accountNumber" value="@Model.SalesOrderNumber" />
                    
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product number</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Special offer</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">Unit price discount</th>
                                <th scope="col">Line total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderLine in Model.OrderLines)
                            {
                                <tr>
                                    <th scope="row">@orderLine.ProductNumber</th>
                                    <td>@orderLine.ProductName</td>
                                    <td class="col-1">
                                        <input type="text" data-productNumber="@orderLine.ProductNumber" class="form-control" value="@orderLine.OrderQty" onchange="updateOrderline(this)" />
                                    </td>
                                    <td>@orderLine.SpecialOfferDescription</td>
                                    <td>@string.Format("{0:C}", @orderLine.UnitPrice)</td>
                                    <td>@string.Format("{0:C}", @orderLine.UnitPriceDiscount)</td>
                                    <td>@string.Format("{0:C}", @orderLine.LineTotal)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end gap-sm-3">
                        <button type="button" class="btn btn-white me-2 me-sm-0" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->