@model AW.UI.Web.Admin.Mvc.ViewModels.SalesOrder.SalesOrderViewModel
@{    
}

<!-- Modal -->
<div class="modal fade" id="editOrderLines" tabindex="-1" role="dialog" aria-labelledby="editOrderlinesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOrderlinesModalLabel">Edit Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateOrderlines", "SalesOrder"))
                {
                    @Html.HiddenFor(_ => _.SalesOrderNumber);
                    
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Product number</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Special offer</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">Unit price discount</th>
                                <th scope="col">Line total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.OrderLines.Count; i++)
                            {
                                <tr>
                                    <th scope="row">@Html.HiddenFor(m => m.OrderLines[i].ProductNumber)</th>
                                    <td>@Model.OrderLines[i].ProductName</td>
                                    <td class="col-1">
                                        <input asp-for="@Model.OrderLines[i].OrderQty" data-productNumber="@Model.OrderLines[i].ProductNumber" class="form-control" value="@Model.OrderLines[i].OrderQty" onchange="updateOrderline(this)" />
                                    </td>
                                    <td>@Model.OrderLines[i].SpecialOfferDescription</td>
                                    <td class="unitprice">@string.Format("{0:C}", @Model.OrderLines[i].UnitPrice)</td>
                                    <td class="unitpriceDiscount">@string.Format("{0:C}", @Model.OrderLines[i].UnitPriceDiscount)</td>
                                    <td class="lineTotal">@string.Format("{0:C}", @Model.OrderLines[i].LineTotal)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end gap-sm-3">
                        <button type="button" class="btn btn-white me-2 me-sm-0" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update sales order</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->