@{
    ViewData["Title"] = "Sales orders";
    @model SalesOrderIndexViewModel;
}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center mb-3">
        <div class="col-md mb-2 mb-md-0">
            <h1 class="page-header-title">Sales Orders <span class="badge bg-soft-dark text-dark ms-2">@Model.PaginationInfo.TotalItems</span></h1>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-primary" href="./ecommerce-add-customers.html">Add sales order</a>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Card -->
<div class="card">
    <div class="card-header card-header-content-sm-between">
        <div class="d-grid d-sm-flex justify-content-sm-end align-items-sm-center gap-2">
            <!-- Datatable Info -->
            <div id="datatableCounterInfo" style="display: none;">
                <div class="d-flex align-items-center">
                    <span class="fs-5 me-3">
                        <span id="datatableCounter">0</span>
                        Selected
                    </span>
                    <a class="btn btn-outline-danger btn-sm" href="javascript:deleteSelected()">
                        <i class="bi-trash"></i> Delete
                    </a>
                </div>
            </div>
            <!-- End Datatable Info -->
            <!-- Dropdown -->
            <div class="dropdown">
                <button type="button" class="btn btn-white w-100" id="showHideDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi-table me-1"></i> Columns <span class="badge bg-soft-dark text-dark rounded-circle ms-1">8</span>
                </button>

                <div class="dropdown-menu dropdown-menu-end dropdown-card" aria-labelledby="showHideDropdown" style="width: 15rem;">
                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="d-grid gap-3">
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_salesOrderNumber">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Sales order number</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_salesOrderNumber" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_accountnumber">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Account number</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_accountnumber" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_customerName">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Customer name</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_customerName" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_salesTerritory">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Sales territory</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_salesTerritory" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_status">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Status</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_status" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_onlineOrdered">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Ordered online</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_onlineOrdered" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_orderDate">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Order date</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_orderDate" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                                <!-- Form Switch -->
                                <label class="row form-check form-switch" for="toggleColumn_totalDue">
                                    <span class="col-8 col-sm-9 ms-0">
                                        <span class="me-2">Total due</span>
                                    </span>
                                    <span class="col-4 col-sm-3 text-end">
                                        <input type="checkbox" class="form-check-input" id="toggleColumn_totalDue" checked>
                                    </span>
                                </label>
                                <!-- End Form Switch -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Dropdown -->
        </div>
    </div>
    <div class="table-responsive datatable-custom">
        <table id="datatable" class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
               data-hs-datatables-options='{
                   "columnDefs": [{
                      "targets": [0],
                      "orderable": false
                    }],
                   "order": [],
                   "info": {
                     "totalQty": "#datatableWithPaginationInfoTotalQty"
                   },
                   "search": "#datatableSearch",
                   "entries": "#datatableEntries",
                   "pageLength": 15,
                   "isResponsive": false,
                   "isShowPaging": false,
                   "pagination": "datatablePagination"
                 }'>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pe-0">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="datatableCheckAll">
                            <label class="form-check-label" for="datatableCheckAll"></label>
                        </div>
                    </th>
                    <th class="table-column-ps-0">Sales order number</th>
                    <th>Accountnumber</th>
                    <th>Customer name</th>
                    <th>Sales territory</th>
                    <th>Status</th>
                    <th>Ordered online</th>
                    <th>Order date</th>
                    <th>Total due</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var salesOrder in Model.SalesOrders)
                {
                    <tr>
                        <td class="table-column-pe-0">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="salesOrdersDataCheck-@salesOrder.SalesOrderNumber">
                                <label class="form-check-label" for="salesOrdersDataCheck-@salesOrder.SalesOrderNumber"></label>
                            </div>
                        </td>
                        <td class="table-column-ps-0">
                            <a asp-action="Detail" asp-route-salesordernumber="@salesOrder.SalesOrderNumber" class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-3">
                                    <span class="h5 text-inherit">@salesOrder.SalesOrderNumber</span>
                                </div>
                            </a>
                        </td>
                        <td>@salesOrder.AccountNumber</td>
                        <td><a asp-action="Detail" asp-controller="Customer" asp-route-accountnumber="@salesOrder.Customer!.CustomerNumber!">@salesOrder!.Customer!.CustomerName</a></td>
                        <td>@salesOrder.Territory</td>
                        <td>
                            @{
                                var badgeCss = salesOrder.Status!.GetBadgeCssClass();
                            }
                            
                            <span class="badge bg-soft-@badgeCss text-@badgeCss">
                                <span class="legend-indicator bg-@badgeCss"></span>@salesOrder.Status.GetDisplayName()
                            </span>
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => @salesOrder.OnlineOrderFlag, new { @class = "form-check-input", disabled = "disabled" })
                        </td>
                        <td>@string.Format("{0:d}", salesOrder.OrderDate)</td>
                        <td>@string.Format(new CultureInfo("en-US"), "{0:C}", salesOrder.TotalDue)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <!-- Pagination -->
                    <partial name="_pagination" for="@Model.PaginationInfo" />
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>

@section Scripts
{
    <script>
        function deleteSelected() {
            var checked = $('#datatable td:first-child input[type="checkbox"]:checked');
            if (checked.length > 0) {
                if (confirm("Do you want to delete " + checked.length + " sales order(s)?")) {
                    var salesOrderNumbers = [];
                    checked.each(function () {
                        var salesOrderNumber = $(this).closest("tr").find("td").eq(1).find("a").find("div").find("span").html();
                        salesOrderNumbers.push(salesOrderNumber);
                    });

                    $.ajax({
                        type: "POST",
                        url: "SalesOrder/DeleteSalesOrders",
                        data: JSON.stringify(salesOrderNumbers), // salesOrderNumbers: salesOrderNumbers}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            checked.each(function () {
                                var row = $(this).closest("tr");
                                row.remove();
                            });
                        }
                    });
                }
            }
        }

        $(document).on('ready', function () {
            // INITIALIZATION OF DATATABLES
            // =======================================================
            HSCore.components.HSDatatables.init($('#datatable'), {
                select: {
                    style: 'multi',
                    selector: 'td:first-child input[type="checkbox"]',
                    classMap: {
                        checkAll: '#datatableCheckAll',
                        counter: '#datatableCounter',
                        counterInfo: '#datatableCounterInfo'
                    }
                },
                language: {
                    zeroRecords: `<div class="text-center p-4">
                                                      <img class="mb-3" src="~/assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                                                      <img class="mb-3" src="~/assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="dark">
                                                    <p class="mb-0">No data to show</p>
                                                    </div>`
                }
            });

            const datatable = HSCore.components.HSDatatables.getItem('datatable')

            $('.js-datatable-filter').on('change', function () {
                var $this = $(this),
                    elVal = $this.val(),
                    targetColumnIndex = $this.data('target-column-index');

                datatable.column(targetColumnIndex).search(elVal).draw();
            });

            $('#datatableSearch').on('mouseup', function (e) {
                var $input = $(this),
                    oldValue = $input.val();

                if (oldValue == "") return;

                setTimeout(function () {
                    var newValue = $input.val();

                    if (newValue == "") {
                        // Gotcha
                        datatable.search('').draw();
                    }
                }, 1);
            });

            $('#toggleColumn_salesOrderNumber').change(function (e) {
                datatable.columns(1).visible(e.target.checked)
            })

            $('#toggleColumn_accountnumber').change(function (e) {
                datatable.columns(2).visible(e.target.checked)
            })

            $('#toggleColumn_customerName').change(function (e) {
                datatable.columns(3).visible(e.target.checked)
            })

            $('#toggleColumn_salesTerritory').change(function (e) {
                datatable.columns(4).visible(e.target.checked)
            })

            $('#toggleColumn_status').change(function (e) {
                datatable.columns(5).visible(e.target.checked)
            })

            $('#toggleColumn_onlineOrdered').change(function (e) {
                datatable.columns(6).visible(e.target.checked)
            })

            $('#toggleColumn_orderDate').change(function (e) {
                datatable.columns(7).visible(e.target.checked)
            })

            $('#toggleColumn_totalDue').change(function (e) {
                datatable.columns(8).visible(e.target.checked)
            })
        });

        (function () {
            window.onload = function () {


                // INITIALIZATION OF NAVBAR VERTICAL ASIDE
                // =======================================================
                new HSSideNav('.js-navbar-vertical-aside').init()


                // INITIALIZATION OF FORM SEARCH
                // =======================================================
                new HSFormSearch('.js-form-search')


                // INITIALIZATION OF BOOTSTRAP DROPDOWN
                // =======================================================
                HSBsDropdown.init()


                // INITIALIZATION OF SELECT
                // =======================================================
                HSCore.components.HSTomSelect.init('.js-select')


                // INITIALIZATION OF NAV SCROLLER
                // =======================================================
                new HsNavScroller('.js-nav-scroller')


                // INITIALIZATION OF MODAL ON PAGE LOAD
                // =======================================================
                new bootstrap.Modal(document.getElementById('exportCustomersGuideModal')).show()


                // INITIALIZATION OF DROPZONE
                // =======================================================
                HSCore.components.HSDropzone.init('.js-dropzone')
            }
        })()
    </script>
}